<%- include('../partials/head', {pageName: 'Einloggen'});  %> 

<h1>Einloggen</h1>


<form id="loginForm" action="/login" method="POST">
    <label for="email">Email</label>
    <input type="email" id="email" name="email" required>
    <br>
    <label for="password">Passwort</label>
    <input type="password" id="password" name="password" required>
    <br>
    <button type="submit">Einloggen</button>
</form>

<a href="/register">Registrieren</a>

<%- include('../partials/foot') %>
